<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SIP Sanity Test Suite" verbose="3" thread-count="2" parallel="tests" >


	<test name="Login Page Test">
	
		<classes>
			<class name="com.qa.sip.tests.LoginPageTest" />
		</classes>
	</test>
	
	<test name="Home Page Test">
	
		<classes>
			<class name="com.qa.sip.tests.HomePageTest" />
		</classes>
	</test>
	
	


	


</suite>